/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:linear-gradient(135deg,#0f0f0f,#1b1b1b);
    color:#fff;
}

/* NAVBAR */
.navbar{
    height:75px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 60px;
    background:#0b0b0b;
}

.logo{
    height:40px;
}

.nav-links a{
    color:#ccc;
    margin:0 15px;
    text-decoration:none;
    font-size:14px;
}

.nav-links a:hover{
    color:#7f5af0;
}

.hire-btn{
    background:#7f5af0;
    color:#fff;
    padding:10px 18px;
    border-radius:20px;
    text-decoration:none;
}

/* HERO */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px 60px;
}

.hero-text{
    width:50%;
}

.small-text{
    color:#aaa;
}

.name{
    font-size:26px;
    margin:5px 0;
}

.title{
    font-size:42px;
    margin:15px 0;
}

.description{
    color:#bbb;
    line-height:1.6;
}

.hero-buttons{
    margin-top:25px;
}

.btn{
    padding:12px 24px;
    border-radius:25px;
    text-decoration:none;
    margin-right:15px;
}

.btn.hire{
    background:#7f5af0;
    color:#fff;
}

.btn.resume{
    border:1px solid #7f5af0;
    color:#7f5af0;
}

/* Resume Upload */
.resume-upload{
    margin-top:30px;
}

.resume-upload label{
    display:block;
    margin-bottom:8px;
    font-size:14px;
    color:#aaa;
}

.resume-upload input{
    width:100%;
    padding:12px;
    background:#111;
    border:1px solid #333;
    color:#fff;
    border-radius:8px;
}

#file-name{
    margin-top:8px;
    font-size:13px;
    color:#7f5af0;
}

/* IMAGE */
.hero-image{
    position:relative;
    width:40%;
    display:flex;
    justify-content:center;
}

.circle{
    position:absolute;
    width:350px;
    height:350px;
    background:#7f5af0;
    border-radius:50%;
    filter:blur(80px);
}

.profile-img{
    width:280px;
    border-radius:50%;
    z-index:2;
}

/* SOCIAL */
.social-box{
    position:fixed;
    bottom:20px;
    left:20px;
    background:#111;
    padding:10px 15px;
    border-radius:20px;
    font-size:14px;
}

.social-box a{
    margin-left:10px;
    color:#7f5af0;
    text-decoration:none;
}
